@using Sistema_de_Emprestimo_de_Livros.Enums
@using Sistema_de_Emprestimo_de_Livros.Dto.Usuario
@model UsuarioCriacaoDto


@section Styles {
	<link rel="stylesheet" href="/css/formCadastrolivros.css" asp-append-version="true" />
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}


@if (TempData["MensagemSucesso"] != null)
{
	<div class="alert alert-success text-dark" role="alert">
		@TempData["MensagemSucesso"]
	</div>
}

@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger text-dark" role="alert">
		@TempData["MensagemErro"]
	</div>
}

@if (TempData["MensagemInfo"] != null)
{
	<div class="alert alert-warning" role="alert">
		@TempData["MensagemInfo"]
	</div>
}


<!-- Page Heading -->
<h1 class="h3 mb-2 m-5 text-gray-800">Fromulário de cadastro</h1>

<div class="card shadow mb-4 row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center border shadow-lg m-5" style="background-color:  #F8F0E2">	
	<div class="row">
		<div class="col m-2">
			<form method="post" asp-action="Cadastrar" asp-controller="Usuario" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>

				@if (ViewBag.Perfil != PerfilEnum.Cliente)
				{
					<h2>Cadastro de Funcionario</h2>
				}
				else
				{
					<h2>Cadastro de cliente</h2>

				}
				
				<div class="col-md-4 mt-4">
					<label for="validationCustom01" class="form-label">Nome completo</label>
					<input type="text" asp-for="NomeCompleto" class="form-control" id="validationCustom01" required>
					<div class="invalid-feedback">
						Digite um nome completo!
					</div>					
				</div>

				<div class="col-md-2 mt-4">
					<label for="validationCustom02" class="form-label">Usuário</label>
					<input type="text" asp-for="Usuario" class="form-control" id="validationCustom03" required>
					<div class="invalid-feedback">
						Digite um nome de usuário!
					</div>
				</div>
				<div class="col-md-3 mt-4">
					<label for="validationCustom06" class="form-label">Email</label>
					<input type="email" asp-for="Email" class="form-control" id="validationCustom06" required>
					<div class="invalid-feedback">
						Digite um email!
					</div>
				</div>

				<div class="col-md-1 mt-4">
					<label for="validationCustom05" class="form-label">CEP</label>
					<input type="text" asp-for="CEP" class="form-control" id="validationCustom05" required>
					<div class="invalid-feedback">
						Digite um CEP!
					</div>
				</div>

				<div class="col-md-2 mt-4">
					<label for="validationCustom05" class="form-label">Estado</label>
					<input type="text" asp-for="Estado" class="form-control" id="validationCustom05" required>
					<div class="invalid-feedback">
						Digite um estado!
					</div>
				</div>

				<div class="col-md-2 mt-4">
					<label for="validationCustom05" class="form-label">Logradouro</label>
					<input type="text" asp-for="Logradouro" class="form-control" id="validationCustom05" required>
					<div class="invalid-feedback">
						Digite um logradouro!
					</div>
				</div>

				<div class="col-md-1 mt-4">
					<label for="validationCustom05" class="form-label">Numero</label>
					<input type="text" asp-for="Numero" class="form-control" id="validationCustom05" required>
					<div class="invalid-feedback">
						Digite um numero da residência!
					</div>
				</div>

				<div class="col-md-3 mt-4">
					<label for="validationCustom05" class="form-label">Bairro</label>
					<input type="text" asp-for="Bairro" class="form-control" id="validationCustom05" required>
					<div class="invalid-feedback">
						Digite o nome de um bairro!
					</div>
				</div>

				<div class="col-md-2 mt-4">
					<label for="validationCustom05" class="form-label">Complemento</label>
					<input type="text" asp-for="Complemento" class="form-control" id="validationCustom05">
				</div>

				<div class="col-md-2 mt-4">
					<label for="validationCustom05" class="form-label">Senha</label>
					<input type="password" asp-for="Senha" class="form-control" id="validationCustom05">
				</div>

				<div class="col-md-2 mt-4">
					<label for="validationCustom05" class="form-label text-nowrap">Confirmar senha</label>
					<input type="password" asp-for="ConfirmarSenha" class="form-control" id="validationCustom05">
				</div>

				@if (ViewBag.Perfil != PerfilEnum.Cliente)
				{
					<div class="col-md-2 mt-4">
						<label for="validationCustom02" class="form-label">Perfil</label>
						<select asp-for="Perfil" class="form-control shadow-none">
							<option value="Administrador" selected>Administrador</option>
						</select>													
					</div>
					<div class="col-md-1 mt-4">
						<label for="validationCustom02" class="form-label">Turno</label>
						<select asp-for="Turno" class="form-control shadow-none">
							<option value="Manha" selected>Manhã</option>
							<option value="Tarde" selected>Tarde</option>
							<option value="Noite" selected>Noite</option>
						</select>
					</div>
				}
				
				<div class="col-md-0">					
					<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2 mb-lg-3">

						<button class="btn text-light" type="submit" style="background-color:#1F2744 "><i class="bi bi-wallet2 mx-2"></i>Cadastrar</button>

						@if (ViewBag.Perfil == PerfilEnum.Cliente){

							<button type="button" class="btn" style="background-color:  #E2CDA5 ">
								<a class="text-dark text-decoration-none" asp-controller="Cliente" asp-action="Index" asp-route-id="0"><i class="bi bi-back mx-2"></i>Voltar</a>
							</button>
						}
						else{
							<button type="button" class="btn" style="background-color:  #E2CDA5 ">
								<a class="text-dark text-decoration-none" asp-controller="Funcionario" asp-action="Index" asp-route-id="0"><i class="bi bi-back mx-2"></i>Voltar</a>
							</button>
						}
						
					</div>
				</div>
			</form>
		</div>
	</div>
</div>