.text-truncate-container {
    position: relative;
}

.text-truncate {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-complete {
    display: block;
}

#moreText {
    display: none; 
}


/*CSS tela Detalhes.*/


#colum {
    flex-direction: row;
}



